@model IEnumerable<NOTES_HDIP.Models.NoteSpace>

@{
    ViewData["Title"] = "Search";
}

<form asp-controller="NoteSpace" asp-action="Index">
    <p>
        Title: <input type="text" name="id" />
        <input type="submit" value="Filter" />
    </p>
</form>