
@{
    ViewBag.Title = "Home Page";
}
<h2>@ViewBag.Message</h2>

<p><b>Post Details</b></p>
<p>@ViewBag.CommunityPost.Title</p>
<p>@ViewBag.CommunityPost.Content</p>

<p><b>Comment</b></p>

<p>ViewBag.CommunityComment.Content</p>


