@model NOTES_HDIP.Models.Note

@{
    ViewData["Title"] = "Create";
}

<div>
    <a class="btn btn-outline-danger" href="##" onClick="history.go(-1); return false;">Go Back</a>
</div>

<br />

<h1><b>Fill in parameters below to create a Note</b></h1>

<h4><b>New Note</b></h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NoteField" class="control-label"></label>
                <input asp-for="NoteField" class="form-control form-control-lg" />
                <span asp-validation-for="NoteField" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NoteSpaceID" class="control-label"></label>
                <select asp-for="NoteSpaceID" class="form-control" asp-items="ViewBag.NoteSpaceID"></select>
            </div>
            <hr />
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
